 .diyweb {
}
 article,
 aside,
 details,
 figcaption,
.diyw figure,
.diyw footer,
.diyw header,
.diyw hgroup,
.diyw main,
.diyw nav,
.diyw section,
.diyw summary { 
  display: block;
}
.diyw audio,
.diyw canvas,
.diyw video {
  display: inline-block;
}
.diyw audio:not([controls]) {
  display: none;
  height: 0;
}
.diyw [hidden] {
  display: none;
}
.diyw a:focus {
  outline: thin dotted;
}
.diyw a:active,
.diyw a:hover {
  outline: 0;
}
.diyw h1 {
  margin: 0.67em 0;
}
.diyw abbr[title] {
  border-bottom: 1px dotted;
}
.diyw b,
.diyw strong {
  font-weight: bold;
}
.diyw dfn {
  font-style: italic;
}
.diyw hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.diyw mark {
  background: #ff0;
  color: #000;
}
.diyw code,
.diyw kbd,
.diyw pre,
.diyw samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.diyw pre {
  white-space: pre-wrap;
}
.diyw q {
  quotes: "\201C""\201D""\2018""\2019";
}
.diyw small {
  font-size: 80%;
}
.diyw sub,
.diyw sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.diyw sup {
  top: -0.5em;
}
.diyw sub {
  bottom: -0.25em;
}
.diyw img {
  border: 0;
}
.diyw svg:not(:root) {
  overflow: hidden;
}
.diyw figure {
  margin: 0;
}
.diyw fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.diyw legend {
  border: 0;
  padding: 0;
}
.diyw button,
.diyw input,
.diyw select,
.diyw textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.diyw button,
.diyw input {
  line-height: normal;
}
.diyw button,
.diyw select {
  text-transform: none;
}
.diyw button,
.diyw html input[type="button"],
.diyw input[type="reset"],
.diyw input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.diyw button[disabled] {
  cursor: default;
}
.diyw input[type="checkbox"],
.diyw input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.diyw input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.diyw input[type="search"]::-webkit-search-cancel-button,
.diyw input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.diyw button::-moz-focus-inner,
.diyw input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.diyw textarea {
  overflow: auto;
  vertical-align: top;
}
.diyw table {
  border-collapse: collapse;
  border-spacing: 0;
}
.diyw p {
  margin: 1em 0;
}
.diyw div.n {
  padding: 0;
  margin: 1em 0;
}
 .diywebNav ul:before,
 .diywebLiveArea:before,
 .diyfeGridGroup:before,
 .diywebNav ul:after,
 .diywebLiveArea:after,
 .diyfeGridGroup:after {
  content: " ";
  display: table;
}
 .diywebNav ul:after,
 .diywebLiveArea:after,
 .diyfeGridGroup:after {
  clear: both;
}
 .diyweb {
  -webkit-text-size-adjust: none;
  position: relative;
  white-space: normal;
  word-wrap: break-word;
}
 .diywebLiveArea {
  position: relative;
  margin: 0 auto;
}
 .diyweb a {
  text-decoration: underline;
}
 .diyweb a:hover {
  text-decoration: none;
}
 .diywebNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 .diywebNav li {
  max-width: 100%;
}
 .diywebNav li ul {
  padding-left: 1em;
}
 .diywebNav a {
  text-decoration: none;
  display: block;
}
 .diywebNav a:hover {
  text-decoration: underline;
}
.diyBgActive  .diyweb {
  background-color: transparent !important;
}
 div.hr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-color: #ccc;
  height: 1px;
}
 .diyweb {
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
 .diywebEmotionHeader {
  overflow: hidden;
}
 .diywebFooter {
  min-height: 20px;
}
 .diywebEmotionHeader,
 .diywebFooter,
 .diywebContent {
  position: relative;
}
 .diywebNav .diywebLiveArea {
  padding: 0;
}
 .diywebGutter,
 .diywebContent .diywebHelperNav .diywebGutter,
 .diywebClark .diywebContent .diywebHelperNav .diywebGutter {
  padding: 20px;
}
 .diywebMobileNav .diywebGutter {
  padding: 0;
}
 .diywebNav a {
  display: block;
  padding: 0.4em 1em 0.35em;
}
 .diywebNav a {
  text-decoration: none;
}
@media only screen and (min-width: 769px) {
   .diywebNav a:hover {
    text-decoration: underline;
  }
}
 .diywebContent .diywebNav li {
  margin: 0;
}
 .diywebNav ul ul li {
  border-top: none;
}
 .diywebContent .diywebNav {
  padding-left: 0;
}
 .diywebContent .diywebNav a {
  padding-left: 0;
}
 .diywebContent .diywebNav ul ul a {
  padding-left: 15%;
}
 .diywebContent .diywebNav ul ul ul a {
  padding-left: 22%;
}
 .diywebContent .diywebNav ul ul {
  padding-left: 0;
}
 .diywebNavMain a,
 .diywebContent .diywebNav23 a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
 .diywebContent .diywebNavMain a {
  padding: 0.55em 20px 0.6em;
}
 .diywebNavMain.diywebNavHorizontal a {
  padding: 0.8em 20px;
}
 .diywebNavMain.diywebNavHorizontal li {
  float: left;
}
@media only screen and (max-width: 568px) {
   .diywebNavMain li:last-child {
    border: none;
  }
}
@media only screen and (max-width: 568px) {
   .diywebNavMain.diywebNavHorizontal li ul {
    display: block;
  }
   .diywebNavMain.diywebNavHorizontal li {
    float: none;
  }
}
@media only screen and (min-width: 569px) {
   .diywebNavMain.diywebNavHorizontal a {
    border-bottom: 0;
  }
}
 .diyweb {
}
 .diyweb {
  -webkit-text-size-adjust: auto;
}
 .diywebPage {
  padding: 0 4% 2em;
}
 .diywebLiveArea,
 .diyweb:before {
  width: 960px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 .diyweb:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 30px;
  margin: 0 auto;
}
 .diywebMainGutter {
  padding: 0 20px;
}
 .diywebEmotionHeader .diywebGutter,
 .diywebNavMain .diywebGutter {
  padding: 0 !important;
}
 .diyweb > div:first-child .diywebMainGutter {
  padding-top: 20px;
  padding-bottom: 20px;
}
 .diyfeGridGroup {
  position: relative;
}
 .diywebPull {
  margin: 0 -20px;
}
 .diyweb > div:nth-of-type(2) {
  padding-top: 50px;
}
 .diywebHideOnSmallLarge,
 .diywebHideOnLarge,
 .diywebHideOnMediumLarge {
  display: none;
}
 .diywebHideOnSmallMedium,
 .diywebHideOnSmall {
  display: block;
}
@media only screen and (max-width: 1023px) {
   .diywebLiveArea,
   .diyweb:before {
    width: 720px;
  }
   .diywebHideOnSmallLarge,
   .diywebHideOnLarge,
   .diywebHideOnSmall {
    display: block;
  }
   .diywebHideOnMediumLarge,
   .diywebHideOnSmallMedium {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
   .diywebLiveArea,
   .diyweb:before {
    width: 530px;
  }
   .diywebHideOnLarge,
   .diywebHideOnMediumLarge {
    display: block;
  }
   .diywebHideOnSmallLarge,
   .diywebHideOnSmallMedium,
   .diywebHideOnSmall {
    display: none;
  }
   .diyweb > div:nth-of-type(2) {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 568px) {
   .diywebLiveArea,
   .diyweb:before {
    width: 420px;
  }
   .diywebHideOnLarge,
   .diywebHideOnMediumLarge {
    display: block;
  }
   .diywebHideOnSmallLarge,
   .diywebHideOnSmallMedium,
   .diywebHideOnSmall {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
   .diywebLiveArea,
   .diyweb:before {
    width: 100%;
  }
   .diywebMainGutter {
    padding: 0 10px;
  }
   .diywebPull {
    margin: 0 -10px;
  }
   .diywebHideOnLarge,
   .diywebHideOnMediumLarge {
    display: block;
  }
   .diywebHideOnSmallLarge,
   .diywebHideOnSmallMedium,
   .diywebHideOnSmall {
    display: none;
  }
}
 .diyweb {
}
.diyfeSidebarLeft  .diywebMain .diywebGutter,
.diyfeSidebarRight  .diywebMain .diywebGutter {
  padding: 0 20px 20px 40px;
}
.diyfeSidebarRight  .diywebMain .diywebGutter {
  padding: 0 40px 20px 20px;
}
 .diyfeGE .diywebEmotionHeader {
  margin-left: 20px;
}
 .diywebClark .diyfeGE .diywebEmotionHeader {
  margin-right: 20px;
  margin-left: 0;
}
 .diywebSecondary .diywebEmotionHeader {
  margin-bottom: 20px;
}
 .diywebNavMain.diywebHideOnMedium {
  margin-bottom: 20px;
}
 .diywebAntman .diyfeGE .diywebNavHorizontal {
  margin-left: 20px;
  margin-bottom: 20px;
}
 .diywebAntman.diywebClark .diyfeGE .diywebNavHorizontal {
  margin-right: 20px;
  margin-left: 0;
}
 .diywebAntman .diywebSecondary .diywebEmotionHeader {
  margin-left: 0;
  margin-right: 0;
}
 .diywebAntman .diywebMain .diywebEmotionHeader {
  margin-bottom: 20px;
}
.diyfeSidebarLeft  .diywebSecondary,
.diyfeSidebarRight  .diywebSecondary {
  position: relative;
  float: left;
}
.diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before,
.diyfeSidebarRight  .diywebContent .diyfeGridGroup:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
}
.diyfeSidebarLeft  .diywebSecondary,
.diyfeSidebarRight  .diywebSecondary,
.diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before,
.diyfeSidebarRight  .diywebContent .diyfeGridGroup:before {
  width: 28.5%;
}
.diyfeSidebarLeft  .diywebMain,
.diyfeSidebarRight  .diywebMain {
  width: 71.5%;
  float: right;
}
.diyfeSidebarRight  .diywebSecondary {
  float: right;
}
.diyfeSidebarRight  .diywebContent .diyfeGridGroup:before {
  right: 0;
  left: auto;
}
.diyfeSidebarRight  .diywebMain {
  float: left;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .diyfeSidebarLeft  .diywebSecondary,
  .diyfeSidebarRight  .diywebSecondary {
    position: static;
    width: auto;
    float: none;
  }
  .diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before,
  .diyfeSidebarRight  .diywebContent .diyfeGridGroup:before {
    display: none;
  }
  .diyfeSidebarLeft  .diywebMain,
  .diyfeSidebarRight  .diywebMain {
    width: auto;
    float: none;
  }
  .diyfeSidebarRight  .diywebSecondary {
    float: none;
  }
  .diyfeSidebarRight  .diywebMain {
    float: none;
  }
  .diyfeSidebarLeft  .diywebMain .diywebGutter,
  .diyfeSidebarRight  .diywebMain .diywebGutter {
    padding: 0;
  }
  .diyfeSidebarLeft  .diywebAntman .diyfeGE .diywebNavHorizontal,
  .diyfeSidebarRight  .diywebAntman .diyfeGE .diywebNavHorizontal {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before,
  .diyfeSidebarRight  .diywebContent .diyfeGridGroup:before,
  .diyfeSidebarLeft  .diywebSecondary,
  .diyfeSidebarRight  .diywebSecondary {
    width: 38.5%;
  }
  .diyfeSidebarLeft  .diywebMain,
  .diyfeSidebarRight  .diywebMain {
    width: 61.5%;
  }
}
@media only screen and (max-width: 767px) {
   .diyfeGE .diywebEmotionHeader {
    margin-left: 0;
  }
   .diywebClark .diyfeGE .diywebEmotionHeader {
    margin-right: 0;
    margin-left: 0;
  }
  .diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before,
  .diyfeSidebarRight  .diywebContent .diyfeGridGroup:before,
  .diyfeSidebarLeft  .diywebSecondary,
  .diyfeSidebarRight  .diywebSecondary,
  .diyfeSidebarLeft  .diywebMain,
  .diyfeSidebarRight  .diywebMain {
    width: auto;
  }
}
 .diywebSecondary p {
  margin-top: 0.25em;
}
 .diywebHeader {
  padding: 0 20px;
}
 .diywebSidebar p {
  line-height: 1.6;
}
 .diywebEmotionHeader {
  overflow: visible;
}
 .diywebEmotionHeader .diywebLiveArea {
  z-index: 1;
}
 .diywebNav23 a.current {
  font-style: italic !important;
}
 .diywebNav23 a.current:before {
  content: "\00BB  ";
}
 .diywebNavMain a,
 .diywebContent .diywebNav23 a {
  border: none;
}
  .diyweb div.n,
 div.n {
  padding: 0px !important;
}
 .diywebMainGutter {
  padding: 20px 0 0;
}
 .diywebFullWidth {
  width: 1180px;
  margin: 0 auto;
}
 .diyweb {
  overflow-x: hidden;
}
 .diyweb:before {
  content: none;
}
.diywebNavMain.diywebNavHorizontal li {
  max-width: 960px;
}
 .diywebNav1.diywebNavHorizontal .diywebGutter {
  float: right;
}
 .diywebFullWidthSubmenus .diywebFullWidth:last-child ul {
  margin-top: 2px;
}
 .diywebNav2 li,
 .diywebNav3 li {
  display: inline-block;
  padding: 20px 0;
}
 .diywebNav3 li {
  display: inline-block;
  padding: 12px 0;
}
 .diywebContent .diywebNav .diyfeGE {
  padding: 0 50px;
}
 a.current,
 a.parent {
  text-decoration: underline;
}
 .diyfeLinkAsButton {
  border-radius: 0 !important;
  border: none !important;
}
 .diywebLogo a {
  padding: 0 !important;
}
 .diywebNavMain.diywebNavHorizontal ul a {
  padding: 0.5em 0 0.5em 15px;
}
.diyfeSidebarRight  .diywebMain .diywebGutter {
  padding: 10px;
}
 .diywebEmotionHeader .diywebMainGutter,
 .diywebNav .diywebMainGutter {
  padding: 0;
}
 .diyfeModGridGroup {
  margin: 0 -10px;
}
 .diyfeModGridElement {
  padding: 0 10px !important;
}
 .diyweb > div:nth-of-type(2) {
  padding: 20px 0;
}
 .diywebContent .diyfeModGridStyleTeaser h1,
 .diywebContent .diyfeModGridStyleTeaser h2 {
  padding: 0 5px;
}
@media only screen and (max-width: 1024px) {
   .diywebFullWidth .diywebLiveArea {
    width: 768px;
  }
 .diywebFullWidth {
    width: 960px;
  }
}
@media only screen and (max-width: 768px) {
   .diywebFullWidth .diywebLiveArea {
    width: 568px;
  }
   .diywebFullWidth {
    width: 568px;
  }
   .diyfeModGridContent {
    margin-bottom: 1em;
  }
   .diywebLogo {
    margin: 0 auto;
  }
   .diywebMainGutter {
    padding: 0;
  }
}
@media only screen and (max-width: 568px) {
   .diywebFullWidth,
   .diywebFullWidth .diywebLiveArea {
    width: auto;
  }
}
 .app_estore_wrapper {
  cursor: pointer;
  width: 150px;
}
 .app_estore_wrapper.default {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
 .estore_content {
  overflow: hidden;
  padding: 5px 10px 5px 5px;
}
 .app_estore_wrapper.default .estore_productCount {
  width: 40px;
}
 .estore_productCount {
  float: left;
  position: relative;
}
 .estore_productCount span {
  position: absolute;
  color: #000;
  top: 0.6em;
  left: 0.9em;
  width: 28px;
  text-align: center !important;
  font-size: 11px;
}
 .estore_text {
  float: right;
  line-height: 36px;
}
 #diywebAppContainer1st .app_estore_wrapper {
  width: auto !important;
}
 #diywebAppContainer1st {
  float: right;
  z-index: 100;
  padding-left: 5px;
}
 #diywebAppContainer1st .estore_productCount span {
  top: 0.35em;
  left: 0.6em;
}
 #diywebAppContainer1st .estore_productCount {
  float: left;
}
@media only screen and (min-width: 768px) {
   #diywebAppContainer1st:hover .estore_text {
    text-decoration: underline;
  }
   #diywebAppContainer1st .estore_text {
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 0.5em;
  }
}
@media only screen and (max-width: 767px) {
   #diywebAppContainer1st {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    display: block !important;
  }
   #diywebAppContainer1st .estore_text {
    display: none;
  }
}
 .diywebFooter ul.mainNav2 {
  display: none;
}
@media all and (min-width: 768px) {
  body.startpage  .diywebFooter ul.mainNav2 {
    display: block;
  }
}
body.startpage  .diywebFooter ul.mainNav2 {
  width: 80%;
}
body.startpage  .diywebFooter #mainNav2 ul {
  margin: 0px;
}
body.startpage  .diywebFooter .mainNav2 li {
  display: inline-block;
  width: 33%;
  margin-bottom: 10px;
}
body.startpage  .diywebFooter .mainNav2 li li {
  margin-bottom: 0px;
  width: 100%;
}
body.startpage  .diywebFooter ul.mainNav2 {
  padding: 0px;
}
body.startpage  .diywebFooter .mainNav2 a:before {
  content: none;
}
body.startpage  .diywebFooter .mainNav3,
body.startpage  .diywebFooter .mainNav2 li {
  display: none;
}
body.startpage  .diywebFooter .mainNav2 li[class^="navTopItem"] {
  display: inline-block;
}
.diyfeNoSidebar  .diywebSecondary,
.diyfeNoSidebar  .diywebContent .diyfeGridGroup:before,
.diyfeNoSidebar  .diywebContent .diywebFond {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .diyfeNoSidebar  .diywebMain {
    float: none !important;
    width: 100% !important;
  }
  .diyfeSidebarRight  .diywebSecondary {
    float: right !important;
  }
  .diyfeSidebarRight  .diywebMain {
    float: left !important;
  }
  .diyfeSidebarRight  .diywebContent .diywebFond,
  .diyfeSidebarRight  .diywebContent .diyfeGridGroup:before {
    right: 0 !important;
    left: auto !important;
  }
  .diyfeSidebarLeft  .diywebSecondary {
    float: left !important;
  }
  .diyfeSidebarLeft  .diywebMain {
    float: right !important;
  }
  .diyfeSidebarLeft  .diywebContent .diywebFond,
  .diyfeSidebarLeft  .diywebContent .diyfeGridGroup:before {
    left: 0 !important;
    right: auto !important;
  }
}

span.loggedin {
  display: none;
}
.loggedout {
  display: inline;
}

/* * {
	color: #000 !important;
	background: #fff !important;
	border: none !important;
	position: static !important;
}

body {
	background: #fff;
	color: #000;
	font-family: serif;
	font-size: 12pt;
	margin:0.5cm;
	padding: 0;
} */
